.container {
  padding: 20px;
}

.itemTitle {
  font-size: 24px;
  color: var(--black);
  margin: 0;

  font-weight: 500;
}

.itemValue {
  font-size: 20px;
  color: var(--gray-1);

  font-weight: 500;
}
